{% load static %}
<!DOCTYPE html>

<head>
    <title>Zero Robotics Australia</title>
    <!--Meta-->
    <meta charset="UTF-8">
    <meta name="description" content="Free Programming competition">
    <meta name="keywords" content="space,robot,programming,coding">
    <meta name="author" content="Penny Player & Luke Tuthill">
    <meta name="viewport" content "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "zr/css/style.css" %}">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119121805-1"></script>
    <!-- <script src="jquery-3.3.1.min.js"></script> -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119121805-1');
    </script>
    </head>
    
    <body>
        {% include "zr/header.html" %}
        <h1 class="background img-1 tagline">A competition like no other</h1>
        <section>
            <p>
                Zero Robotics is a multinational space-themed programming and robotics competition. Students design code to control a zero-gravity
                robot - known as
                <a href="">SPHERES</a> - play in a virtual game against other teams of students from around the world.
            </p>
            <p>
                Early rounds of the competition are played on MIT's state-of-the-art zero-gravity simulator, but the final round of competition
                is played in space aboard the International Space Station itself. Since they are dealing with real systems, students
                have to handle uncertainties in operation, code size limitations, and other real world engineering problems.
            </p>
            <p>
                Thanks to a collaboration between MIT, NASA and The University of Sydney we are proud to provide Zero Robotics to all Australian
                schools free of charge!
            </p>
        </section>
        <h1 class="background img-2">Schedule</h1>
        <section>
            <h2>The Australian Competition</h2>
            <p>
                The University of Sydney runs a pre-international competition around June-July based on a past game mode. This is open to
                all schools within Australia and New Zealand, and faces teams against each other on a leaderboard, in both 2D
                and 3D versions of the game environment.
            </p>
            <h2>The International Competition</h2>
            <p>
                Well-performing Australian teams will be paired with two other international teams to form an Alliance. MIT will release
                a new, unique game mode that hasn't been seen before, and Alliances will need to work together to design, develop,
                and implement their strategy, earning them their place in the Finals.
            </p>
            <h2>The Finals Event</h2>
            <p>
                In January, after the 3D Alliance round has run, the top 18 Alliances (comprising of a total of 54 teams) will face off against
                each other in the Finals. However, unlike the rest of the competition, the robots and their code are no longer
                virtual - their code will be run by real astronauts on real SPHERES stationed on the International Space Station.
            </p>
        </section>
        <h1 class="background img-3">The Game</h1>
        <section>
            <p>
                Every year, MIT develops a game for the SPHERES to play. These games are themed around real or planned space endevours, such
                as collecting bacteria samples, or photographing asteroids.
            </p>
            <p>
                Past examples of games include:
            </p>
            <ul>
                <li>
                    <strong>SpySPHERES</strong>: Take photos of points of interest on a large asteroid, while also photographing and
                    avoiding being photographed by your opponent.
                </li>
                <li>
                    <strong>SPACE-S</strong>: Assemble pieces of a satellite, earning points and defending your zone against your opponent.
                </li>
                <li>
                    <strong>LifeSPHERES</strong>: Drill the surface of Enceladus to search for bacteria, attempting to gain more and
                    better quality samples than your opponent. Watch out for geysers!
                </li>
            </ul>
        </section>
        <h1 class="background img-4">Past Australian Winners</h1>
        <section>
            <p>
                Australia has seen several teams not only make it to the Finals event, but some have scored extremely well on the international
                stage.
            </p>
            <p>
                Here are some previous Alliances that include Australian teams who have placed highly in the Finals:
                <h2>2017</h2>
                <ul>
                    <li>James Ruce (
                        <strong>Virtual Finalist Champion</strong>)</li>
                    <li>Mosman High</li>
                    <li>Sydney Boys High</li>
                    <li>Gosford High</li>
                    <li>Sydney Technical High</li>
                </ul>
                <h2>2016</h2>
                <ul>
                    <li>North Sydney Boys (
                        <strong>Second Place</strong>)</li>
                    <li>Gosford High (
                        <strong>Third Place</strong>) </li>
                    <li>Fort Street High</li>
                    <li>James Ruse</li>
                </ul>
                <h2>2015</h2>
                <ul>
                    <li>Normanhurst Boys</li>
                </ul>
        </section>
        {% include "zr/footer.html" %}