{% load static %}
<div class="footer">
    <img class="footer-icon usyd-zr" src="{% static "zr/img/usyd-zr-white.jpg" %}">
    <!-- <img class="footer-icon zr-aus" src="{% static "zr/img/zraus.png" %}" alt=""> -->
    <div class="footer-info">
        &copy; 2018 Zero Robotics Australia<br>
        General Enquiries: <a href="mailto:zero-robotics.admin@sydney.edu.au">zero-robotics.admin@sydney.edu.au</a><br>
        Media Enquiries: <a href="mailto:engit.marketing@sydney.edu.au">engit.marketing@sydney.edu.au</a>
    </div>
</div>
