{% load static %}
<a href="/">
    <header>
        <div class="title">Zero Robotics Australia</div>
    </header>
</a>
<div class="nav-surround">
    <nav>
        <a href="about">
            <div class="menu-item">About ZR</div>
        </a>
        <a href="resources">
            <div class="menu-item">Resources</div>
        </a>
        <a href="media">
            <div class="menu-item">Media</div>
        </a>
        <a href="qanda">
            <div class="menu-item">Q &amp; A</div>
        </a>
        <a href="contact">
            <div class="menu-item">Contact Us</div>
        </a>
    </nav>
</div>
