{% load static %}
<head>
    <title>Zero Robotics Australia</title>
    <!--Meta-->
    <meta charset="UTF-8">
    <meta name="description" content="Free Programming competition">
    <meta name="keywords" content="space,robot,programming,coding">
    <meta name="author" content="Penny Player & Luke Tuthill">
    <meta name="viewport" content"width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "zr/css/style.css" %}">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119121805-1"></script>
    <!-- <script src="jquery-3.3.1.min.js"></script> -->
    <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-119121805-1');
    </script>
</head>
<body>
<a href="/">
    <header>
        <!-- <img class="zr-logo" src="{% static "zr/img/usyd-zr-white.jpg" %}"> -->
        <h1>Zero Robotics Australia</h1>
    </header>
</a>
<div class="nav-surround">
    <nav>
        <a href="zraus"><div class="menu-item">ZR Australia</div></a>
        <a href="zraus"><div class="menu-item">Qualifying Comp</div></a>
        <a href="/resources"><div class="menu-item">Resources</div></a>
        <a href="qanda"><div class="menu-item">Q &amp; A</div></a>
        <a href="zraus"><div class="menu-item">Links</div></a>
    </nav>
</div>

