{% load static %}
<!-- Draft website by Penelope Player & Luke Tuthill -->
<!DOCTYPE html>
<html lang="en">
    {% include "zr/header.html" %}
        <main>
            <section class="links"></section>
            <section class="content">
                <p class="desc">
                    A programming competition with a difference.
                </p>
                <div class="video-container">
                    <div class="video">
                        <iframe class="video" src="https://www.youtube.com/embed/cNnXThZBr_g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <p class="para">
                    Early rounds of the competition are played on NASA's simulator, but the
                    final round of competition is played in space aboard the International
                    Space Station. Since they are dealing with real systems students have to
                    handle uncertainties in operation, code size limitations, and other real
                    world engineering problems.
                </p>
                <!-- <div class="zr-photo-1"></div> -->
                <p class="para">
                    Thanks to a collaboration between MIT, NASA and The University of Sydney
                    we are proud to provide Zero Robotics to all Australian schools free of charge!
                </p>
                </div>
            </section>
            <!-- {% lorem %} -->
        </main>
    </body>
</html>
