{% load static %}
<!-- Draft website by Penelope Player & Luke Tuthill -->
<!DOCTYPE html>
<html lang="en">
    {% include "zr/header.html" %}
    <main>
    <section class="links"></section>
    <section class="content">
        <div class="video-container">
            <div class="video">
                <iframe class="video"
                        src="https://www.youtube.com/embed/cNnXThZBr_g"
                        frameborder="0"
                        allow="autoplay; encrypted-media"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
        </div>
        <article>
            <h1>Important Dates</h1>
            <h2>Australian Qualifying Competition</h2>
            <table>
                <tr>
                    <th>Event</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>Late Registration Deadline</td>
                    <td>N/A</td>
                    <td>10 May 2018</td>
                    <td>5pm</td>
                </tr>
                <tr>
                    <td>Qualifying Competition Launch Event</td>
                    <td>The University of Sydney</td>
                    <td>10 May 2018</td>
                    <td>9am-3pm</td>
                </tr>
                <tr>
                    <td>Gantt Chart Submission</td>
                    <td>N/A</td>
                    <td>25 May 2018</td>
                    <td>5pm</td>
                </tr>
                <tr>
                    <td>Late Late Registration Deadline</td>
                    <td>N/A</td>
                    <td>31 May 2018</td>
                    <td>5pm</td>
                </tr>
                <tr>
                    <td>First Code Submission</td>
                    <td>N/A</td>
                    <td>15 June 2018</td>
                    <td>5pm</td>
                </tr>
                <tr>
                    <td>Final Code Submission</td>
                    <td>N/A</td>
                    <td>29 June 2018</td>
                    <td>5pm</td>
                </tr>
                <tr>
                    <td>Finals Event - Qualifying Competition</td>
                    <td>The University of Sydney</td>
                    <td>2 July 2018</td>
                    <td>9am-3pm</td>
                </tr>
            </table>

            <h2>International Competition</h2>
            <table> 
                <tr>
                    <th>Event</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>International Competition Kickoff Event</td>
                    <td>The University of Sydney</td>
                    <td>Early September</td>
                    <td>TBD</td>
                </tr> 
                <tr>
                    <td>2D Submission Deadline</td>
                    <td>N/A</td>
                    <td>TBD</td>
                    <td>TBD</td>
                </tr>
                <tr>
                    <td>3D Submission Deadline</td>
                    <td>N/A</td>
                    <td>TBD</td>
                    <td>TBD</td>
                </tr>
                <tr>
                    <td>Alliance formation</td>
                    <td>N/A</td>
                    <td>TBD</td>
                    <td>TBD</td>
                </tr>
                <tr>
                    <td>ISS Code submission</td>
                    <td>N/A</td>
                    <td>TBD</td>
                    <td>TBD</td>
                </tr>
                <tr>
                    <td>ISS Finals</td>
                    <td>The University of Sydney</td>
                    <td>Early January</td>
                    <td>TBD</td>
                </tr>

            </table>
        </article>
    </section>
    </main>
    {% include "zr/footer.html" %}
