{% load static %}
<!-- Draft website by Penelope Player & Luke Tuthill -->
<!DOCTYPE html>
<html lang="en">
    {% include "zr/header.html" %}
    <article>
    <h1>Q and A</h1>
    <div class="questions">
        {% for question in questions %}
        <div class="question">
            <div class="title">
                {{ question.title }} <span class="info">{{ question.name }} &bullet; {{ question.datestr }}</span>
            </div>
            <div class="text">
                <p>
                {{ question.text }}
                </p>
            </div>
        </div>
        {% if question.answer %}
        <div class="answer">
            <div class="text">
                <span class="info">{{ question.answer.name }} &bullet; {{ question.answer.datestr }}</span>
                <p>
                    {{ question.answer.text }}
                </p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    </article>
    </body>
</html>
