{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include "zr/header.html" %}
    <article>
    <h1>Resources</h1>
    <h2>Student Resources</h2>
    <h3><a href="/resources/roestta.pdf">Rosetta Sheet</a></h3>
    <p>
    Named after the famous
    <a href="https://en.wikipedia.org/Rosetta_Stone" target="_blank">Rosetta Stone</a>,
    the Rosetta Sheet translates Python and Java code into Zero Robotics C. 
    </p>
    <hr />
    <h3><a href="http://zerorobotics.mit.edu/tutorials/" target="_blank">MIT Tutorials</a></h3>
    <p>
    Coding / Physics / Math tutorials provided by MIT
    </p>
    <hr />
    <h3><a href="http://web.aeromech.usyd.edu.au/zerorobotics/Tutorial1_final.mp4" target="_blank">Intro to the ZR IDE</a></h3>
    An intro to the ZR Integrated Development Environment (IDE)
    <p>
    <hr />
    </p>
    <h3><a href="http://lyneca.github.io/zrbot" target="_blank">ZR Slack Bot</a></h3>
    <p>
    Get sections of the ZR Manual from inside Slack!
    </p>
    </article>
    </body>
</html>
