/* @import url('https://fonts.googleapis.com/css?family=Roboto|Raleway:200|Roboto+Mono'); */

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-ExtraLight.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto_Mono-Regular.ttf");
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 100%;
    margin: 0;
}

div.title {
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 70px;
    margin: 0px;
    padding: 20px;
}

main {
    width: 100%;
    padding: 0;
}

table, th, td {
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid #eeeeee;
}

table {
    width: 100%;
}

td, th {
    font-size: 18px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #0c1f74;
    color: white;
    width: 100%;
    text-align: center;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    user-select: none;
}

.zr-logo {
    height: 120px;
    float: left;
    margin: 3px;
}

div.nav-surround {
    background-color: #eeeeee;
    border-bottom: 1px solid #bbbbbb;
}

nav {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 820px;
    margin: auto;
    align-items: center;
}

nav > a {
    display: inline-block;
    border-left: 1px solid #bbbbbb;
    flex-grow: 1;
    user-select: none;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    margin: 0;
}

nav > a > div.menu-item {
    padding: 3px;
    background-color: #eeeeee;
    transition: background-color 0.2s ease-in-out;
}

div.menu-item:hover {
    background-color: #dddddd;
}

nav > a:last-of-type {
    border-right: 1px solid #bbbbbb;
}

h1 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 9vh;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    width: 820px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 25px;
}

a.email {
    text-decoration: underline;
}

section.photos {
    display: none;
}

section {
    width: 820px;
    margin: auto;
}

section.content {

}

div.video-container {
    background-color: black;
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 20px;
    padding-bottom: 40px;
    z-index: 1;
}

div.video-container:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/iss_blur.jpg);
}

h1.background {
    background-color: black;
    position: relative;
    z-index: 1;
    width: 100%;
    color: white;
    padding: 40px 0px;
}

h1.background:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.img-1:before { background-image: url(../img/pizza_blur.jpg); }
h1.img-2:before { background-image: url(../img/abs_blur.jpg); }
h1.img-3:before { background-image: url(../img/game_blur.jpg); }
h1.img-4:before { background-image: url(../img/nsb_blur.jpg); }

h1.tagline {
    margin-top: 0;
}

div.video {
    background-color: white;
    width: 800px;
    height: 500px;
    position: relative;
    z-index: 0;
    border: 10px solid white;
    margin: 0 auto;
}

iframe.video {
    width: 100%;
    height: 100%;
}

p.desc {
    font-family: "Raleway", sans-serif;
    width: 820px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

div.zr-photo-1 {
    width: 100%;
    height: 200px;
    background-image: url(../img/nasa_earth_from_iss.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.intro {
    background-color: white;
    padding: 10px;
}

div.intro > p:first-of-type {
    margin-top: 0;
}

p {
    font-size: 20px;
}

p.indented {
    margin-left: 20px;
}

/* Q and A */

article {
    width: 820px;
    margin: auto;
}

div.questions {
    width: 820px;
    margin: auto;
    margin-bottom: 20px;
}

div.question {
    font-size: 20px;
    margin-top: 20px;
    border: 1px solid #bbbbbb;
    display: grid;
    grid-template-columns: 3fr
}

div.question:first-of-type {
    margin-top: 0;
}

div.question > div.title {
    font-size: 25px;
    vertical-align: top;
}

span.info {
    font-size: 15px;
    font-variant: small-caps;
    text-align: right;
    float: right;
    color: #bbbbbb;
}

div.question > div {
    padding: 10px;
}

div.question > div.text {
    border-top: 1px solid #bbbbbb;
    grid-column-start: 1;
    grid-column-end: span 3;
}

div.question > div.text > p {
    margin: 0;
    padding-left: 5px;
}

div.answer > div.text > p > a:link {
    color: #555555;
    text-decoration: underline;
}

div.answer {
    font-size: 20px;
    width: 100%;
}

div.answer > div {
    padding: 10px;
    border: 1px solid #bbbbbb;
    border-top: none;
}

div.answer > div.text {
    margin-left: 20px;
}

div.answer > div.text > p {
    margin: 0;
    padding-left: 5px;
}

div.footer {
    display: flex;
    justify-content: space-between;
    width: 820px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #bbbbbb;
    vertical-align: top;
}

img.footer-icon {
    height: 100px;
}

div.footer-info {
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
    margin: auto 0;
}

div.footer-info > a {
    text-decoration: underline;
}

